html, body {
    height: 100%;
}

.global__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.currency__component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.transfer__component__body {
    display: flex;
    justify-content: space-around;
}

.transfer__component__variable select {
 height: 29px;
 margin: 5px ;
}

.result {
    font-size: 24px;
}